
/* A class to define the the area i want the elements to be fixed to */
.fixedwidth{
	width:977px;
	margin:0 auto;
	/*background-color:rgba(0,0,0,0.1);*/
}

body {
	font-family:arial,monospace,sans-serif;
	margin:0;
	padding:0;
}

.bg-img {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;	
  	background-size: auto;
  	background-position: top right;
  	background-image: url(http://ichef.bbci.co.uk/images/ic/480xn/p01882qf.jpg); /* This */

}


.clear{
	clear: both;
}

a:links{
	color: black;
} 

a:visited{
	color: black;
}

/*
__________________________________________________________________________


ALL THE TOP NAVBAR ELEMENTS 

___________________________________________________________
*/
p {
	margin-top: 5px;
}

#topbar	{
	margin-top: -20px;
	width: 100%;
	height: 40px;
	color:#535353;
	background-color: rgba(255,255,255,0.1);
	font-family: arial,sans-serif;
	font-weight: bold; 

}

#logo{
	height: 32px;
	width:100px;
	padding:8px 0px 0px 0px;
	border-right:1px solid #CCCCCC;
	margin:0;
	float: left;
}


#signin {
	float: left;
	padding:8.5px 80px 6.5px 10px;
	font-size: 13px;
	border-right:1px solid #CCCCCC;
	margin:0px;
}
#signin p {
	padding-top: 3px;
	margin: 0px 0px 0px 7px;
	font-family: arial,sans-serif;
	font-weight: bold;
	float: left;
}

#signin img{
	float: left;

}

#topmenudiv{
	height: 40px;
	float: left;
	color: #303030;
		padding: 0;
	margin: 0;
}

#topmenudiv ul {
	float: left;
	padding:0px 10px 0px 0px;
	font-size: 13px;
	border-right:1px solid #CCCCCC;
	margin:0px;
	list-style: none;
	cursor: pointer;
}

#topmenudiv ul li{
	float: left;
	border-right:1px solid #CCCCCC;
	padding:12.4px 12px 12.5px 15px;
	margin: 0;	
}

#topmenudiv ul:last-child{
	padding-right:0;
}

.fa {
	padding-left:7px;
}



/*THE SEARCH BAR */
#searchbar{
	float:left;
	padding:10px 5px 5px 10px;
	font-weight: normal;

}

#searchbar input[type="text"], textarea {
  background-color : lightgray; 

}


/*
--------------------------------------------------------------
THIS IS A PLACEHOLDER TEST I FOUND AT http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
--------------------------------------------------------------
 */ 

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #303030;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #303030;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #303030;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #303030;
}

.fa-search {
	margin-left:-30px;
}

.fa-volume-up{
	padding-right: 5px;
}

/*
___________________________________
COLOR EFFECT ON HOVER FOR ALL BUTTONS UP TOP
WITH DIFFERENT COLLORS AND FADE IN OUT
___________________________________
*/
 #topmenudiv ul li:nth-child(1):hover {
	box-shadow: inset 0 -4px 0 purple;
	transition: 0.2s ease-in-out;
 }
 #topmenudiv ul li:nth-child(1){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(2):hover {
	box-shadow: inset 0 -4px 0 yellowgreen;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(2){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(3):hover {
	box-shadow: inset 0 -4px 0 lightblue;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(3){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(4):hover {
	box-shadow: inset 0 -4px 0 #00cacc;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(4){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(5):hover {
	box-shadow: inset 0 -4px 0 black;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(5){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(6):hover {
	box-shadow: inset 0 -4px 0 brown;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(6){
 	transition: 0.2s ease-in-out;
 }

#topmenudiv ul li:nth-child(7):hover {
	box-shadow: inset 0 -4px 0 orange;
	transition: 0.2s ease-in-out;
}
#topmenudiv ul li:nth-child(7){
 	transition: 0.2s ease-in-out;
 }

#signin:hover{
box-shadow: inset 0 -4px 0 #1188BB;
transition: 0.2s ease-in-out;
}
#signin{
 	transition: 0.2s ease-in-out;
 }


/*
___________________________________


----------------------------------------------------

END TOP BAR CSS

----------------------------------------------------

___________________________________
*/


#newsbar{

	background-color: rgba(186, 25, 25,0.9);
	height: 56px;
	width: 100%;

}

#newsheader {
	font-size: 40px;
	color: white;
	margin: 0;
	padding-top: 5px;
	
}

#headerlink{
	text-decoration: none;
	margin:0;
	padding: 0;
}

#headerlink:hover{
	text-decoration: none;
	color: #1167A8;
}

#homebar{
	background-color: #A91717;
	height: 40px;
	width: 100%;	
	margin: 0;
	color: white;

}

#homebar p {
	margin: 0;
}

#uk{
	font-size: 0.7em;
	padding-left: 10px;
	margin: 0;

}

#homebar ul {
	float: left;
	list-style: none;
	padding:12.5px 0px 12.5px 0px;
	margin: 0;
	cursor: pointer;

}


#homebar li:first-child{
	float: left;
	padding: 0px 10px 0px 0px;
	border-right:1px dotted rgba(255,255,255,0.5);
	margin: 0;

}

#homebar li{
	float: left;
	padding: 0 10px 0 10px;
	border-right:1px dotted rgba(255,255,255,0.5);
	margin: 0;

}


/* FIGURED IT OUT, using box shadow you can make several "borders", so by haveing the first border the same color as the background i can create the offset so the second border shows up further down than a normal "border-bottom" would do */
#homebar li:hover{
box-shadow:0 5px 0 0 #A91717, 
0 9px 0 0 white;
}

.selected {
	box-shadow:0 5px 0 0 #A91717, 
0 9px 0 0 white;
}





/*COUNTRY BAR */
#country{
	background-color: #white;
	height: 40px;
	width: 100%;	
	margin: 0;
	color: #303030;

}

#country ul {
	float: left;
	list-style: none;
	padding:7px 0px 7px 0px;
	margin: 0;
	cursor: pointer;

}

#country li{
	float: left;
	padding: 0 10px 0 10px;
	border-right:1px dotted rgba(0,0,0,0.5);
	margin: 0;

}

#country li:hover{
box-shadow:0 5px 0 0 white, 
0 9px 0 0 #A91717;
}

#selected {
	box-shadow:0 5px 0 0 white, 
0 9px 0 0 #A91717;
}




/*
________________________________________________________
END NEWS BAR CSS
________________________________________________________
*/




/*
________________________________________________________


			COLUMNS CSS BELOW

left column first
________________________________________________________
*/



.content{
	width: 100%;
	color:#303030;
	font-size: 0.75em;

}


.date {
	font-weight: bold;
}

h1	{
	color:#442222;
	font-size: 260%;
	margin-top:0;
	padding: 0;
}



.firsthr{
	border:none;
	width: 95%;
	background-color:#dbdbdb ;
	height: 1px;
}

.smallred{
	border:none;
	width: 20%;
	background-color:#bb1919;
	height: 1px;
	margin-left: 0;
	margin-top: 5px;

}

#main-col{
	width:668px;
	height: 2000px;
	float: left;
	background-color:#;
}

#supportingcontent{
	width:680;
	height:800px;
	background-color:;
}

.midrows{
	height:325px;
	width:210px;
	/* background-color:#12eab3 */
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	border-right: 1px solid #dbdbdb;
	padding: 0px 15px 0px 12.5px;
}

#lastmidrow{
	width: 170px;
	float: left;
	margin-top: 10px;
	padding: 0 7.5px 0 7.5px;
}

.lastmidtext{
	font-size: 1.4em;
	font-weight: bold;

}

#lastmidli{
	border:none;
	line-height: 1.4em;
}

.midlink{
	text-decoration: none;
	display: inine-block;
}

.midtext{
	color: #5a5a73;
	font-size: em;
}


.midlink{
	text-decoration: none;
	color:#22222;
}

.midlink:hover{
	text-decoration: none;
	color: #1167A8;
}

.midlist{
	margin:0;
	padding:0px 0 10px 0px;
	list-style: none;
}

.midlist li{
	padding:0;
	margin: 0;
	border-bottom: 1px solid #dbdbdb;	
}

.midpic{
	float: left;
	padding-right: 10px;
}



.supwidth{
	background-color: ;
	height: 200px;
	width:667px;
	margin-bottom: 10px;
}

#smallsup{
	height:150px;
}

.suphead{
	color:#404040;
	font-size: 2.2em;
	padding-top: 10px;
	padding-bottom: 0px;
	font-family: monospace;
}

.alsoli{
	height: 100px;
	width: 323px;
	float: left;
	margin-right: 10px;

}


#feat{
	width: 667px;
	height: 525px;
}

.featurelist{
	list-style: none;
	padding: 0;

}

.featureli{
	width: 200px;
	height: 230px; 
	padding-right: 10px;
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
}

.featurelink{
	text-decoration: none;
	color:#22222;
}

.featurelink:hover{
	text-decoration: none;
	color: #1167A8;
}

.featuretext{
	color: #5a5a73;
}

#expertimg{
	position: relative;
	left: 460px;
	bottom: 130px;
	z-index: -1px;
}

#spanexp{
	font-size: 0.75em;
	font-weight: normal;
}

#expertp{
	background-color: #ededed;
	height: 75px;
	font-weight: bold;
	font-size: 1.5em;
	padding:15px;
	line-height: 0.5em;
}

#fakelink:hover{
	cursor: pointer;
	color:1167A8;
}
.newsitem{
	position: relative;
	bottom: 15px;
	width: 275px;m
	float: left;
	font-size: 1.1em;
}

.headlineimage{
	float: right;
	padding-right: 7.5px;
	position: relative;
	bottom: 9px;
}


#time{
	color: gray;
	padding:0 5px 0 5px;

}

#timeuk{
	text-decoration: none;
	color:#ab1b1b;
	padding-left: 10px;
	border-left: 1px solid gray;
	line-height: 1.5em;
}

#timeuk:hover{
	text-decoration: none;
	color:#1167A8 ;
	padding-left: 10px;
	border-left: 1px solid gray;
}


.fa-2x{
	padding-right: 5px;
	padding-left: 0;
	margin-left: 0;
}

.padding{
	padding-right: 2px;
}
.padding2{
	position: relative;
	top: 7px;
	padding-right: 5px;
}

.links{
	text-decoration: none;
	padding-top: 5px;
	float: left;
	color:#222222;
}

.links:hover{
	color:#1167A8;
}

.newsitem p {
	float: left;
	color: #5a5a73;
}


.clock {
		color: gray;
}

#morefromuk{
	height:500px;
	width:677px;
	margin-bottom: 10px;

}

.moreuk{
	list-style: none;
	padding: 0;
}

.moreuk li{
	height: 150px;
	width: 149px;
	float: left;
	margin-right: 16.32px;
	margin-bottom: 15px;
}


#morefromthebbc{
	width:100%;
	height: 600px;
	float: left;
}


#morebbc{
	width: 100%;
	height:600px;
	border-top: 1px solid #dbdbdb;
}


.morebbcimg{
	margin-bottom: 10px;
}


#morebccul{
	list-style: none;
	padding: 0;
}

.morebccli{
	height: 225px;
	width: 232px;
	background-color: #EDEDED;
	float: left;
	margin-right: 16.32px;
	margin-bottom: 15px;
}

.morebbcright{
	margin-right: 0;
	padding-right: 0;
}

.location{
	color: #bb1919;
	text-decoration: none;
}

.location:visited{
	color:#bf1919;
	text-decoration: none;
}


.location:hover{
	color: #62A0D6;
	text-decoration: none;
}



.morebbclink{
	text-decoration: none;
	color: #bf1919;
}

.morebbclink:hover{
	text-decoration: none;
	color: #62A0D6;
}


.morebbca{
	color: #222222;
	text-decoration: none;
	font-weight: bold;
}

.morebbca:hover{
	color: #1167A8;
	text-decoration: none;
	font-weight: bold;
}

.morebbclink:hover ~ .morebbca{
	color:#1167A8;
}

/*
--------------------------------------------------------------------------------
RIGHTCOLUMN CSS 
--------------------------------------------------------------------------------
*/

#right-col{
	width: 277px;
	height: 2000px;
	float: left;
	/*background-color: lightgreen; */
}

#rightheadliner{
	font-size: 2em;
	padding-top: 10px;
	margin-bottom: 0px;
}

#watchlisten{
	width:250px;
	height:102px;
	padding-left: 10px;
	border-left: 1px solid #dbdbdb ;
}

#rightvid{
	width: 300px;	
	height: 550px;
	padding-left: 10px;
	margin-top: 30px;
	border-left: 1px solid #dbdbdb ;
	border-top: 1px solid #dbdbdb ;
}


#vids{
	list-style: none;
	margin-top: 0;
	padding: 15px 2px 2px 2px;
}

.vidpics{
	padding-right: 4px;
	float: left;
}

.vidtext {
	padding:0;
	margin: 0;
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: bold;
}

.vidlink{
	text-decoration: none;
	color:#22222;
}

.vidlink:hover{
	text-decoration: none;
	color: #1167A8;
}

/*
--------------------------------------------------------------------------------

SUPPORT COLUMN CSS

--------------------------------------------------------------------------------
*/







/*
--------------------------------------------------------------------------------

SERVICE FOOTER CSS

--------------------------------------------------------------------------------
*/




#servicefooter{
	width:100%;
	height: 118px;
	background-color:#2F2F2F;
	float: left;
	color: white;
	border-bottom: 1px solid #999;

}

#servicefooter h1{
	color: #eee;
	padding:22.5px 0 5px 0;
	margin: 0;
	font-size: 1.5em;
}


#servicefooter ul{
	list-style: none;
	margin:0;
	padding:0;
}

#servicefooter li{
	display: inline-block;
	padding:10px 50px 0 0;
}

#servicefooter ul li a{
	text-decoration: none;
	color: #eee;
}


#servicefooter ul li a:hover{
	text-decoration: underline;
	color:#eee;
}
#firstservicefooter{
	width: 100%;
	height:118px;

}

.heightfix{
	position: relative;
	bottom: 5px;
	font-size: 1.1em;
}


/* 
------------------------------------------------------------------------

MAIN FOOTER CSS

------------------------------------------------------------------------
*/

#footer{
	width: 100%;
	height: 300px;
	background-color:#4C4C4C;
	color: white;
	float: left;
}


#firstfooter{
	width: 100%;
	height:300px;

}

#footer h1{
	color: #eee;
	padding:20px 0 15px 0;
	margin: 0;
	font-size: 1.5em;
}
#tag{
	padding-left: 0;
	border: none;
}


.footerlist{
	float: left;
	list-style: none;
	padding-right: 75px;
	padding-left: 10px;
	border-left: 1px solid #999;
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 0;
}

.footerlist li{
	padding:4px 4px 13px 4px;
}


.footerlist a{
	text-decoration: none;
	color:#eee;
}

.footerlist a:hover{
	text-decoration: underline;
	color:#eee;
}

#final{
	float: left;
	list-style: none;
	padding: 0;
	font-size: 0.8em;
}

#final a{
	text-decoration: none;
	color: #eee;
}
#final a:hover{
	text-decoration: underline;
	color: #eee;
}

#final li{
	display:inline;
	padding-right: 15px;
}

#final p{
	padding-top: 6px;
}
hr {
	border:none;
	width: 100%;
	background-color:#999;
	height: 1px;
}
#bleh{
	padding-left: 3px;
}

#footer div{
}
